$black: #000;
$head_grey: #999;
$font_dark_grey: #4e4e4e;
$border_red: #ee3424;
$link_dark_blue: #00a3d8;
$link_light_blue: #52c8f7;
$section_light_grey: #f6f6f6;
$head_light_blue: #dae9f4;
$head_text_blue: #6799cc;