h1, h2, h3, h4, h5, p, li, label {
	font-family: arial, helvetica, clean, sans-serif;
}

h1 {
	font-weight: bold;
	color: $black;
}

h2 {
	font-size: 1.8rem;
	display: inline-block;
	background: #fff;
	margin: 0;
	padding: 10px 5px 10px 0;
	position: relative;
	z-index: 2;
}

p, li, label {
	font-size: 1.4rem;
}
